<?xml version="1.0" encoding="utf-8"?>
<search> 
  <% if(posts){ %>
    <% posts.each(function(post){ %>
    <entry>
      <title><%-: post.title | cdata %></title>
      <url><%- encodeURI(config.root+post.path).replace("&","&amp;") %></url>
      <content type="html"><%-: post.content | cdata %></content>
      <%if(post.categories&&post.categories.length>0){%>
        <categories>
            <% post.categories.each(function (cate) {%>
            <category> <%= cate.name %> </category>
            <%})%>
        </categories>
        <%}%>
        <%if(post.tags&&post.tags.length>0){%>
        <tags>
            <% post.tags.each(function (tag) {%>
            <tag> <%= tag.name %> </tag>
            <%})%>
        </tags>
        <%}%>
    </entry>
    <% }) %>
  <% } %>
  <% if(pages){ %>
    <% pages.each(function(page){ %>
    <entry>
      <title><%-: page.title | cdata %></title>
      <url><%- encodeURI(config.root+page.path).replace("&","&amp;") %></url>
      <content type="html"><%-: page.content | cdata %></content>
    </entry>
    <% }) %>
  <% } %>
</search>
